.aside_nav {
  grid-area: a;
  background-color: rgb(103, 90, 114);

  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  min-height: 700px;
}

.sector_nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sector_nav a {
  width: fit-content;
}

.sector_nav a.activePage::after {
  content: '';
  display: block;

  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
}